* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #343a40;
}

.table {
  width: 800px;
  margin-top: 96px;
  border-collapse: collapse;
}

thead th {
  width: 25%;
}
th,
td {
  text-align: left;
  padding: 12px 16px;
}
thead {
  background-color: #087f5b;
  color: #fff;
  font-size: 18px;
}
tbody {
  font-size: 18px;
}
tbody tr:nth-child(even) {
  background-color: #f8f9fa;
}
tbody tr:nth-child(odd) {
  background-color: #e9ecef;
}
